@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.3s, color 0.3s;
}
[data-highlighted] {
  background-color: #F4F6FA !important; /* Indigo-200 */
  color: #1e1b4b !important; /* optional: darker text for contrast */
}
